.nuevoProductoForm {
  width: 32%;
  background-color: #FFFFFF;
  padding: 33px 40px;
  display: flex;
  align-content: center;
  flex-direction: column;
  border-radius: 20px;
  color: black;
  position: relative;
}

.formCombo {
background: #EEF6F0;
width: auto;
border-style: none;
border-radius: 3px;
height: 30px;
}

.largeCombo {
  width: 100%;
}

.smallCombo {
  width: 50%;
}

.formCombo option {
height: 30px;
}

.select-arrow {
  color: black;
}

.cerrar {
position: absolute;
right: 18px;
top: 5px;
font-size: 28px;
color: rgb(180, 7, 7);
cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .nuevoProductoForm {
    width: 42%;
  }
}

@media screen and (max-width: 965px) {
  .nuevoProductoForm {
    width: 55%;
  }
}

@media screen and (max-width: 680px) {
  .nuevoProductoForm {
    width: 75%;
    font-size: 14px
  }
}