:root {
  --button-color: #395B45;
  --page-background: #F7F7F6;
  --white: #FFFFFF;
  --light-green: #EEF6F0;
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--page-background);
}

p {
  margin: 0;
}

.cp {
  cursor: pointer;
}

.categories {
  background-color: var(--white);
  height: 550px;
  width: 300px;
}

.cards-center {
  margin: 0 auto;
}

.input-wrapper {
  position: relative;
  width: 100%;
}


.input-icon {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.icon {
  width: 20px;
  height: 20px;
}

.perfil-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card-img-top {
  height: 150px;
}

.modal-cards{
  width: auto;
}

.modal-cards--color{
  background-color: var(--light-green);
  border-radius: 5px;
  height: 200px;
  padding: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.contact-table{
  margin: 0 auto;
}

.main-modal {
  max-height: calc(100vh - 100px); 
  overflow-y: auto;
  display: block;
  background-color: var(--white);
  position: fixed;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 12px;
  margin: 10px;
}

.content-modal {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.icon-exit {
  display: flex;
  justify-content: end;
  margin-right: -10px;
  cursor: pointer;
}

.grid-service,
.grid-product {
  display: grid;
  gap: 20px;
}

@media(min-width: 550px) {
  .grid-product {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-img-top {
    height: 250px;
  }
  
  .modal-cards{
    width: 400px;
  }
  .main-modal {
    padding: 20px 40px;
    font-size: 16px;
  }

  .icon-exit {
    margin-right: -20px;
  }

  .flex-ps{
    display: flex;
  }
}

@media(min-width: 600px) {
  .grid-service,
  .grid-product {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 800px) {
  .grid-product {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(min-width: 1024px) {
  .grid-service {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-product {
    grid-template-columns: repeat(4, 1fr);
  }
  .content-modal {
    grid-template-columns: repeat(2, 1fr);
  }
}

.active-button {
  border-radius: 5px;
  border-bottom: 5px solid #49b293;
}

.he{
  height: 50px;
}